In [1]:
import duckdb
import streamlit

In [5]:
ncd_df = duckdb.read_csv('../data/NationalCataractData.csv')
duckdb.sql('SELECT * FROM ncd_df LIMIT 10')

┌──────────────────────┬─────────┬─────────┬───┬──────────────────────┬──────────────────────┬────────────────────┐
│      TrustName       │ ODSCode │ Country │ … │ CaseComplexityInde…  │ UnadjustedVALossRate │ AdjustedVALossRate │
│       varchar        │ varchar │ varchar │   │        double        │        double        │       double       │
├──────────────────────┼─────────┼─────────┼───┼──────────────────────┼──────────────────────┼────────────────────┤
│ Moorfields Eye Hos…  │ RP6     │ ENGLAND │ … │                 0.74 │                 0.37 │               0.45 │
│ The Newcastle Upon…  │ RTD     │ ENGLAND │ … │                 0.78 │                 0.46 │               0.53 │
│ Norfolk and Norwic…  │ RM1     │ ENGLAND │ … │                 NULL │                 NULL │               NULL │
│ Leeds Teaching Hos…  │ RR8     │ ENGLAND │ … │                 1.05 │                 0.58 │                0.5 │
│ York Teaching Hosp…  │ RCB     │ ENGLAND │ … │                 1.05 │                 0.41 │               0.35 │
│ Oxford University …  │ RTH     │ ENGLAND │ … │                 NULL │                 NULL │               NULL │
│ University Hospita…  │ RA7     │ ENGLAND │ … │                 1.08 │                 0.97 │                0.8 │
│ Gloucestershire Ho…  │ RTE     │ ENGLAND │ … │                 0.88 │                  0.6 │               0.61 │
│ Sheffield Teaching…  │ RHQ     │ ENGLAND │ … │                 0.93 │                  0.8 │               0.78 │
│ Sandwell and West …  │ RXK     │ ENGLAND │ … │                 0.84 │                 0.74 │                0.8 │
├──────────────────────┴─────────┴─────────┴───┴──────────────────────┴──────────────────────┴────────────────────┤
│ 10 rows                                                                                    43 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [4]:

pc_df = duckdb.read_csv('../data/Post code.csv', header=True)
duckdb.sql('SELECT * FROM pc_df LIMIT 10')

┌──────────────┬────────────────────────────────────────────────────────┬──────────┐
│ hospitalcode │                      hospitalname                      │ postcode │
│   varchar    │                        varchar                         │ varchar  │
├──────────────┼────────────────────────────────────────────────────────┼──────────┤
│ R1A          │ WORCESTERSHIRE HEALTH AND CARE NHS TRUST               │ WR4 9RW  │
│ R1C          │ SOLENT NHS TRUST                                       │ SO19 8BR │
│ R1D          │ SHROPSHIRE COMMUNITY HEALTH NHS TRUST                  │ SY3 8XL  │
│ R1E          │ STAFFORDSHIRE AND STOKE ON TRENT PARTNERSHIP NHS TRUST │ ST5 1QG  │
│ R1F          │ ISLE OF WIGHT NHS TRUST                                │ PO30 5TG │
│ R1G          │ TORBAY AND SOUTHERN DEVON HEALTH AND CARE NHS TRUST    │ TQ2 7TD  │
│ R1H          │ BARTS HEALTH NHS TRUST                                 │ E1 1BB   │
│ R1J          │ GLOUCESTERSHIRE CARE SERVICES NHS TRUST                │ GL3 4AW  │
│ R1K          │ LONDON NORTH WEST HEALTHCARE NHS TRUST                 │ HA1 3UJ  │
│ RA2          │ ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST      │ GU2 7XX  │
├──────────────┴────────────────────────────────────────────────────────┴──────────┤
│ 10 rows                                                                3 columns │
└──────────────────────────────────────────────────────────────────────────────────┘

In [12]:
duckdb.sql("""SELECT ncd_df.*, pc_df.PostCode FROM ncd_df 
    LEFT JOIN pc_df ON pc_df.hospitalcode = ncd_df.ODSCode """).df()

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          101 │
└──────────────┘

,TrustName,ODSCode,Country,ITCLocation,CentreNumber,NumberHESOperations,TimeFraction,NumberOperationsCA,CaseAscertainment,NumberEligibleOperations,...,PercentageOpsWithPostOpVA,Q1PostOperativeVA,MedianPostOperativeVA,Q3PostOperativeVA,PercentageOpsChangeVAData,NumberOpsEligibleVALoss,CaseComplexityIndexVALoss,UnadjustedVALossRate,AdjustedVALossRate,postcode
0,Moorfields Eye Hospital NHS Foundation Trust,RP6,ENGLAND,None,1,22950.000,1.000,22075,96.2,20207,...,70.9,0.00,0.10,0.18,64.1,10592.0,0.74,0.37,0.45,EC1V 2PD
1,The Newcastle Upon Tyne Hospitals NHS Foundati...,RTD,ENGLAND,None,2,8255.000,1.000,8120,98.4,7863,...,83.5,0.00,0.10,0.20,79.4,5246.0,0.78,0.46,0.53,NE7 7DN
2,Norfolk and Norwich University Hospitals NHS F...,RM1,ENGLAND,None,3,4675.000,1.000,4631,99.1,4263,...,14.0,0.02,0.20,0.20,13.6,NaN,NaN,NaN,NaN,NR4 7UY
3,Leeds Teaching Hospitals NHS Trust,RR8,ENGLAND,None,4,4945.000,1.000,4875,98.6,4520,...,89.4,0.00,0.00,0.20,86.9,3276.0,1.05,0.58,0.50,LS9 7TF
4,York Teaching Hospital NHS Foundation Trust,RCB,ENGLAND,None,5,4080.000,1.000,4121,100.0,4068,...,79.7,0.00,0.10,0.18,67.5,2219.0,1.05,0.41,0.35,YO31 8HE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Aneurin Bevan University Health Board,7A6,CYMRU,None,102,1163.485,0.504,427,36.7,427,...,50.0,0.10,0.22,0.44,46.6,NaN,NaN,NaN,NaN,None
97,Care UK,NTP,ENGLAND,Southampton,103,1192.438,0.962,414,34.7,413,...,87.4,0.00,0.00,0.10,86.0,246.0,0.50,0.00,0.00,None
98,Spamedica,NPG,ENGLAND,Birmingham,104,225.000,1.000,223,99.1,219,...,93.1,0.00,0.00,0.20,93.1,NaN,NaN,NaN,NaN,None
99,Global Diagnostics,NYR,ENGLAND,St Stephens Gate,105,NaN,0.795,202,NaN,202,...,89.3,0.02,0.10,0.22,88.8,174.0,0.70,0.57,0.74,None
100,Abertawe Bro Morgannwg University Health Board,7A3,CYMRU,None,107,4552.088,0.885,115,2.5,114,...,30.1,0.00,0.00,0.18,30.1,NaN,NaN,NaN,NaN,None

In [16]:
est_df = duckdb.read_csv('../data/est_prop_cataracts_la.csv')
duckdb.sql('SELECT * FROM est_df LIMIT 10').df()

,Local Authority,Estimated proportion of people living with cataract,Latitude,Longitude,Estimated indirect cost of sight loss,Estimated indirect cost of sight loss per person,Estimated number of adults with diabetes,Estimated number of people living with cataract,"Estimated number of people living with Drusen, an early stage age-related macular degeneration",Estimated number of people living with late stage age-related macular degeneration,...,Total number of people registered partially sighted,Total population,Total population aged 0-4,Total population aged 18-29,Total population aged 30-49,Total population aged 5-17,Total population aged 50-64,Total population aged 65-74,Total population aged 75-84,Total population aged 85+
0,Armagh,0.007634,54.348750,-6.651610,4170000,70.28,3376,453,1985,415,...,-,59340,4309,9587,16233,10631,10158,4771,2696,955
1,Moyle,0.008974,55.114938,-6.153784,1383000,81.11,1062,153,669,138,...,-,17050,1053,2471,4480,2862,3263,1693,887,341
2,Larne,0.009136,54.857500,-5.809860,2692000,83.64,2033,294,1283,272,...,-,32180,1860,4533,8807,5178,6318,3050,1791,643
3,Ballymoney,0.007879,55.072030,-6.516990,2244000,71.88,1821,246,1067,224,...,-,31224,2110,4837,9067,5396,5162,2602,1550,500
4,Castlereagh,0.010128,54.577180,-5.888210,5919000,88.03,4225,681,2747,634,...,-,67242,4051,9255,19552,10589,11981,5965,4305,1544
5,Carrickfergus,0.008488,54.726187,-5.810121,3065000,78.37,2398,332,1457,307,...,-,39114,2350,5625,11131,6488,7267,3501,2040,712
6,Antrim,0.006719,54.719534,-6.207250,3451000,64.59,3007,359,1659,326,...,-,53428,3975,8308,15636,9470,8968,4189,2151,731
7,Banbridge,0.007447,54.348729,-6.270480,3370000,69.72,2767,360,1580,328,...,-,48339,3661,7104,14254,8497,8127,3724,2170,802
8,Strabane,0.007454,54.827269,-7.463579,2733000,68.60,2279,297,1308,268,...,-,39843,2685,6109,11450,7365,6647,3177,1827,583
9,Cookstown,0.006998,54.641020,-6.744280,2419000,65.35,2010,259,1131,236,...,-,37013,2802,6501,10448,6604,5900,2684,1510,564